:root
  --animation-speed: 0.5s
  --border-radius: 0.5rem
  --ratio: 1.5
  --max-text-width: 65ch
  --gap: 1.5rem

  --font-plain: 'Lato', sans-serif

  --font-size-tiny: 0.75rem
  --font-size-small: 0.875rem
  --font-size-base: 1rem
  --font-size-big: 1.4rem
  --font-size-bigger: 1.75rem
  --font-size-huge: 2rem

  --weight-light: 300
  --weight-regular: 400
  --weight-bold: 700

  /* MODULAR SCALE */
  --s-1: calc(var(--s0) / var(--ratio)) // 0.666rem - 10px
  --s0: 1rem // 16px
  --s1: calc(var(--s0) * var(--ratio)) // 1.5rem - 24px
  --s2: calc(var(--s1) * var(--ratio)) // 2.25rem - 36px  
  --s3: calc(var(--s2) * var(--ratio)) // 3.375rem - 54px
  --s4: calc(var(--s3) * var(--ratio)) // 5.0625rem - 81px

  --stack-300: 0
  --stack-400: 10
  --stack-500: 20
  --stack-600: 30
  --stack-700: 40

  --border-thin: 0.0625rem
  --border-medium: calc(var(--border-thin) * calc(var(--ratio) * 2))
  --border-thick: calc(var(--border-medium) * calc(var(--ratio) * 2.5))

  --color-danger: #FF3B30
  --color-default: #595959
  --color-grey-dark: #8C8C8C
  --color-grey-light: #f0f0f0
  --color-neutral: #fbfbfb
  --color-primary: #5f92d3
  --color-primary-light: #b9d5fc40
  --color-secondary: #e352b1
  --color-accent: #ee1696
  --color-success: #34C759
  --color-warning: #FA8C16

  font-family: var(--font-plain)
  line-height: var(--ratio)
  color: var(--color-default)